body{
    margin: 0;
    min-width: 250px;
}
*{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    cursor: pointer;
    position: relative;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
ul li:nth-child(odd){
    background: #f9f9f9;
}
ul li:hover{
    background: #ddd;
}
ul li.click{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
ul li.checked::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 16px;
    border-color: #fff;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
}
.close:hover{
    background-color: #f44336;
    color: white;
}
.header{
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
.header::after{
    content: '';
    display: table;
    clear: both;
}
#myInput{
    margin: 0;
    border: none;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.addbtn{
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left; 
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.addbtn::hover{
    background-color: #bbb;
}
form{
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    min-width: 250px;
}
form label{
    display: block;
    padding: 10px 20px 10px 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
}
form input, select{
    display: inline-block;
    margin: 8px 0px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid royalblue;
    width: 75%;
    padding: 12px 20px;
    overflow: hidden;
    box-sizing: border-box;
}
select:hover{
    background-color: #f44336;
    cursor: pointer;
}